header nav ul {
    background-color: white;
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;
  }

header nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1em 0;
  }

header nav ul li a {
    font-weight: bold;
    text-decoration: none;
  }
