@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
  background-image: url('https://images.unsplash.com/photo-1565021303704-74803eb1fae6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2970&q=80');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {background-position: top; background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  }

  @keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}

  }


header nav ul {
    background-color:#5F7566;
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;
  }

header nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1em 0;
  }

header nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: lightgray;
  }


input {
    height: 1.5em;
    margin: 0;
    padding: .25em .5em;
  }

textarea {
    margin: 0;
    padding: .25em .5em;
  }


.login-form, .signup-form {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 400px;
  padding: 2em;
}

.post-form {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 800px;
    padding: 2em;
}

.login-form p,
.signup-form p,
.post-form p {
  display: grid;
  align-items: center;
  column-gap: 10px;
  grid-template-columns: 100px 1fr;
}

.login-form button,
.signup-form button,
.post-form button {
    padding: 0.25em 1em
}

.intro, .post-body, .post-detail {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-bottom: 10px;
  border: 10px;
  max-width: 800px;
  padding: 2em;
}
